.page-container {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #7B838A;
    box-shadow: inset -900px -200px 300px 50px rgba(0,0,0,0.65)
}

.page-container > .up-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: top;
}


.page-container > .up-wrapper > .left-content-wrapper {
    margin-left: 50px;
    width: 690px;
}
    
.page-container > .up-wrapper > .left-content-wrapper h1 {
    font-size: 2.7em;
    color: #C2C2C2;
    font-weight: lighter;
}

.page-container > .up-wrapper > .left-content-wrapper p {
    font-size: 1.9em;
    color: #C2C2C2;
    font-weight: lighter;
}

.page-container > .up-wrapper > .left-content-wrapper > .content-btn-wrapper {
    width: 550px;
    display: flex;
}

.page-container > .up-wrapper > .left-content-wrapper > .content-btn-wrapper > .free-btn-wrapper .btn {
    color: black;
    background-color: #5CEC45;
    font-size: 2em;
    height: 70px;
    align-items: center;
    outline: none;
    border: none;
    margin-right: 20px;
}

.page-container > .up-wrapper > .left-content-wrapper > .content-btn-wrapper > .more-btn-wrapper .btn {
    color: white;
    background-color: black;
    font-size: 2em;
    height: 70px;
    align-items: center;
    outline: none;
    border: none;

}

.page-container > .up-wrapper > .right-content-wrapper p {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
}

.page-container > .up-wrapper img {
    height: 400px;
}

.page-container > .down-wrapper > .menu-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: rgb(84, 83, 83);
    margin: -4px;
}

.page-container > .down-wrapper > .menu-wrapper > .teams {
    border: 1px solid rgb(120, 120, 120);
}

.page-container > .down-wrapper > .menu-wrapper > .education {
    border: 1px solid rgb(120, 120, 120);
}

.page-container > .down-wrapper > .menu-wrapper > .privacy {
    border: 1px solid rgb(120, 120, 120);
}

.page-container > .down-wrapper > .menu-wrapper > .writing {
    border: 1px solid rgb(120, 120, 120);
}

.page-container > .down-wrapper > .menu-wrapper p {
    padding: 1px 50px;
    color: white;
}